{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ title }}</div>

                    <div class="card-body">
<form method="POST" action="{% url 'shortener:shorten_url' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="url">Enter URL</label>
        <input type="text" class="form-control" name="url" id="url" placeholder="https://example.com" required>
    </div>
    <button type="submit" class="btn btn-primary">Shorten URL</button>
</form>
{% if short_url %}
    <hr>
    <p>Short URL:</p>
<p><strong>Short URL:</strong> <a href="{{ short_url.get_short_url }}">{{ short_url.short_code }}</a></p>
{% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
