{% extends 'base.html' %}

{% block content %}
    <h2>Original URL: <a href="{{ short_url.original_url }}">{{ short_url.original_url }}</a></h2>
    <h2>Short URL: <a id="short-url" target="_blank" href="{{ request.scheme }}://{{ request.get_host }}/{{ short_url.short_code }}">{{ request.get_host }}/{{ short_url.short_code }}</a></h2>
<button id="copy-button" class="btn btn-primary">Copy URL</button>
    <h2>Number of Clicks: {{ short_url.num_clicks }}</h2>


    <div aria-live="polite" aria-atomic="true" class="position-fixed" style="top: 0; right: 0;">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
    <div class="toast-header">
      <strong class="mr-auto">Notification</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body"></div>
  </div>
</div>



<script>
  $(document).ready(function() {
    // Get the shortened URL from the HTML element with ID "short-url"
    var shortUrl = $('#short-url').text();

    // Create the full URL by appending the base URL to the shortened URL
    var fullUrl = shortUrl;

    // Add a click event listener to the button
    $('#copy-button').click(function() {
      // Create a temporary input element and append it to the body of the page
      var tempInput = $("<input>");
      $("body").append(tempInput);

      // Set the value of the temporary input element to the full URL
      tempInput.val(fullUrl).select();

      // Copy the value of the temporary input element to the clipboard
      document.execCommand("copy");

      // Remove the temporary input element from the page
      tempInput.remove();

    // Show a toast message to the user indicating that the URL has been copied to the clipboard
        var toast = $("<div class='toast' role='alert' aria-live='assertive' aria-atomic='true' data-delay='2000'>" +
          "<div class='toast-header'>" +
          "<strong class='mr-auto'>URL Copied</strong>" +
          "<button type='button' class='ml-2 mb-1 close' data-dismiss='toast' aria-label='Close'>" +
          "<span aria-hidden='true'>&times;</span>" +
          "</button>" +
          "</div>" +
          "<div class='toast-body'>" +
          fullUrl +
          "</div>" +
          "</div>");
      $(".toast-container").append(toast);
      $(".toast").toast('show');

    });
  });
</script>
{% endblock %}


